/* src/componentes/Rodape/index.js */

.rodape__footer{
    background: #6278F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape__footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.rodape__footer ul li:last-child {
    margin-right: 0;
}

.titulo__rodape{
    margin: 0;
    font-size: 32px;
}